:root {
	--cor1: #808080;
	--cor2: #e6e6e6;
	--cor3: #1A8CD8;
	--cor4: #F4DF26;
	--cor5: #000000;
	--cor6: #fff;
    --cor7: #c7c7c7;
    --cor8: rgba(0, 0, 0, 0.733);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100%;
    background-color: var(--cor8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor2);
}

.input-convert{
    display: flex;
    flex-direction: row;
}

.select-radio{
    padding-right: 10px;
}