@media only screen and (max-width: 1030px) {
  .menu-content {
    height: 57px;
  }
  .hamburger {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu .menu-movie {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    transition: 0.8s;
    transform: translateY(-150vh);
    backdrop-filter: blur(10px);
  }

  .menu-movie.active {
    transform: translateY(0vh);
  }
  .container-icon {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-content {
    width: 950px;
  }

  .info img {
    margin-top: 40px;
    width: 350px;
  }
}

@media only screen and (max-width: 1055px) {
  .sumary-content h2 {
    text-align: center;
  }
  .skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .progress-bar {
    max-width: 720px;
    height: 10px;
  }
  .education-content {
    margin-left: 260px;
  }

  .contato p {
    margin-left: 260px;
  }

  .first-collun,
  .second-collun {
    display: flex;
    flex-direction: column;
  }

  .first-collun img,
  .second-collun img {
    width: 500px;
    min-width: 200px;
    height: 300px;
  }

  .cards-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 995px) {
  .main-content {
    width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .main-home {
    font-size: 2rem;
  }
  .basics-info {
    display: block;
  }

  .container-collun {
    display: block;
  }

  #img-bj-me {
    width: 450px;
  }

  .education-content {
    margin: 50px 0 0 80px;
  }

  .contato p {
    margin: 50px 0 0 80px;
  }
  .container-icon {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-content {
    width: 700px;
  }

  .intro {
    font-size: 0.8em;
  }

  .info img {
    margin-top: 60px;

    width: 350px;
  }
}

@media only screen and (max-width: 690px) {
  .about-content p {
    display: block;
    font-size: 0.8rem;
  }
  .progress-bar {
    max-width: 400px;
  }

  .education-content {
    margin-left: 50px;
  }

  .main-content {
    width: 620px;
  }

  .intro {
    font-size: 0.7em;
  }

  .info img {
    margin-top: 80px;
    width: 300px;
  }

  .cards-template {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 610px) {
  .main-content {
    width: 510px;
  }
  .intro {
    margin-top: 0px;
    font-size: 1.1em;
  }
  .info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .info img {
    margin-top: 22px;
    width: 200px;
  }

  .dowloadCv {
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem 1.5rem;
  }

  .my-info p {
    font-size: 0.8;
  }
}

@media only screen and (max-width: 450px) {
  .main-content {
    width: 360px;
  }
  .main-home {
    font-size: 1.6rem;
  }
  .contato p {
    margin-left: 10px;
  }

  .progress-bar {
    max-width: 300px;
  }

  .footer {
    font-size: 1.5rem;
  }

  .first-collun img,
  .second-collun img {
    width: 250px;
    min-width: 150px;
    height: 150px;
  }
}

/* intro-text-content */
