/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */
:root {
	--cor1: #808080;
	--cor2: #e6e6e6;
	--cor3: #1A8CD8;
	--cor4: #F4DF26;
	--cor5: #000000;
	--cor6: #fff;
    --cor7: #c7c7c7;
    --cor8: rgba(0, 0, 0, 0.733);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

.main-bg{
    background-image: url('../imgs/pattern-randomized.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    

}

header {
    background-color: #333;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    background-color: var(--cor6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--cor2);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-weight: 400;
    color: var(--cor5);
}

.menu h1 span {
    font-weight:800;
}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul li a {
    display: block;
    padding: 1.2rem;
    color: var(--cor5);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    width: 0%;
    height: 0.1rem;
    background: var(--cor3);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 110px;
}

.intro-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home  {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 90px;
}


.social-media{
    padding-top: 50px;
    margin-left: 55px;
}

.social-links .bx{
    padding: 0 30px 0 0;
    
}

.dowloadCv{
    margin-top: 10px;
    background-color: transparent;
    padding: 0px 65px;
    border: 1px solid var(--cor5);
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}

/* .dowloadCv:hover{
    background-color: #1A8CD8;
    transition: 0.5s;
} */


.about-content, 
.resume-content,
.portifolio-content,
.contact-content,
.container-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-content h1,
.resume-content h1,
.portifolio-content h1,
.contact-content h1{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 3px solid var(--cor3);
}

#paragrafo-1{
    margin-top: 20px;
}

.basics-info {
    display: flex;
    margin-top: 50px;
}


.colun1,
.colun2 {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.colun1 p,
.colun2 p {
    font-size: 0.9rem;
    padding: 10px 0 10px 15px ;
}

.basics-info span {
    font-weight: bolder;
}

.container-collun {
    display : flex;
    flex-direction : row;
}

/* Resume */

#resume {
    margin-top: 100px;
}

.sumary-content h2{
    margin-top: 50px;
    margin-bottom: 10px;

}
.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.collun2-skills {
    margin-top: 6px;
}

.progress-bar-container {
    margin-top: 6px;
}

.progress-bar{
    width: 570px;
    height: 8px;
    margin-top: 6px;
    background-color: var(--cor7);
}

.percentage {
    display: block;
    height: 100%;
    background-color: var(--cor3);
    animation: progress 2000ms ease-in 1;
}

.html {
    width: 90%;
}

.css {
    width: 70%;
}

.javaScript {
    width: 50%;
}

.programming-logic {
    width: 60%;
}

.reactjs{
    width: 30%;
}

.english {
    width: 45%;
}

@keyframes progress {
    from {
        width: 0;
    }
}

.line1,
.line2 {
    width: 2px;
    height: 250px;
    background-color: var(--cor3);
    margin-top: 15px;
}

/* {
    width: 2px;
    height: 250px;
    background-color: var(--cor3);
} */

.education-content {
    margin-top: 50px;
}

.education-content h2 {
    margin-bottom: 10px;
}

.education-content div {
    width: 95px;
    background-color: var(--cor2);
    padding: 4px;
    margin-left: 15px;
}

.education-content p {
    font-weight: bold;
    font-style: italic;
    color: var(--cor5);
}

footer{
    background-color: var(--cor6);
    border-top: 1px solid var(--cor2);
}

footer h3 {
    padding-top: 20px;
    font-size: 2.5rem;
    color: var(--cor8);
}

footer .social-media{
    margin-right: 25px;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright a {
    color: var(--cor3);
}





























/*

.menuNavBar a:focus {
    color:var(--cor6);
}

.btnCv button{
    font-size: 1em;
    font-weight: 600;
    padding: 8px 10px;
    border: 2px solid var(--cor6);
    border-radius: 4px;
    cursor: pointer;
    color: var(--cor6);
    background-color: var(--cor1);
    margin-right: 20px;
}
.btnCv button:hover {
    background-color: var(--cor1);
    color: var(--cor6);
    transition: 0.8s;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 930px){
    .menuNavBar{
        display: none;
    } 

    .btnCv button{
        display: none;
    }

    .mobile-menu-icon{
        display: flex;
        position:absolute;
        top: 10px;
        right: 40px;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        position: fixed;
        top: 7.5%;
        left: 0%;
        width: 100%;
        height: 349px;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1em;
        background-color: var(--cor1);
    }

    .mobile-menu li {
        color: var(--cor6);
        padding: 20px 0;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2em;
    }

    .mobile-menu button {
        border: none;
        font-size: 1em;
        background-color: transparent;
        color: var(--cor6);
        font-family: 'Montserrat', sans-serif;
    }

    .mobile-menu li:hover {
        background-color: var(--cor3);
       
    }
    .open {
        display: block;
    }
}
 */


/* section .home {
    position:static;

}

.image-hero {
    background: url(/assets/imgs/fotos/heroImage2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 220px;
    height: 585px;
    margin-left: 800px;
    margin-top: -350px;
    margin-right: auto;

} */

/* Relógio */
/* section .timer {
    display: flex;
    flex-direction: row;
    margin: 350px -600px 0;
    font-size: 1.2em;

}

section .timer .relogio-pointer{
    margin: 0 20px 0 0px;
    width: 160px;
    height: 130px;
    box-shadow: 7px 9px 11px 1px var(--cor1);
}
section .timer .horas, .minutos, .segundos{
    font-size: 4em;
    color: var(--cor6);
}

section .timer .tempo {
    color: var(--cor6);
}

section .timer div {
    background-color: var(--cor7);
    padding: 0px 0px;
    text-align: center;
}


section .basicsInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 670px;
    top: 230px;
}

.basicsInfo h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--cor1);
}

.social-links{
    width: 600px;
    margin: 40px 140px 0 0;
}

.social-links .bx{
    padding: 0 30px 0 0;
    
}

.social-links .bx:hover{
    filter: brightness(0) saturate(100%) invert(18%) sepia(49%) saturate(4896%) hue-rotate(197deg) brightness(109%) contrast(96%);
} */

/* Home */

/* main .home-info h1 {
    font-size: 1.8em;
    font-weight: 300;
    color: var(--cor6);
} */